@import "responsive.scss";

.o-itemsList {
  position: relative;
  width: 100%;

  &__title {
   padding: 12px;
    text-align: center;
    font-family: 'Philosopher';
    font-weight: bold;
    font-size: var(--font-big);
    color: var(--color-element-mid-beige);
    border-bottom: 2px solid var(--color-enchant-dim-minor);
  }

  &__container {
    display: flex;
  }

  &__items {
    width: 70%;

    @include mediaUpToSmallTablet {
      width: 100%;
    }
  }

  &__possibleEnchants {
    width: 30%;
    background-color: var(--color-background-dark-brown);

    @include mediaUpToSmallTablet {
      width: 100%;
      height: 100%;
    }
  }

  .o-item__container {
    background: var(--color-background-darkest-brown);
    min-height: 50px;
    border-bottom: 1px solid var(--color-element-darkest-blue);

    &:nth-child(2n) {
      background: var(--color-background-darker-brown);
    }
  }

  &__noItem {
    font-size: var(--font-big);
    padding: 34px;
    text-align: center;
  }

  &__enchantsPoolMobile {
    z-index: 9998;

    .drawer-handle {
      opacity: 0.8;
      top: 185px;
      top: 105px;

      right: -48px !important;
      width: 50px;
      height: 48px;
      background-color: var(--color-background-mid-brown);
      border: 1px solid var(--color-element-mid-beige);

      &::after {
        content: '';
        display: block;
        background-image: url(/assets/images/game/items/categories/enchants.png);
        background-repeat: no-repeat;
        background-position: 100%;
        background-size: 100%;
        width: 68%;
        height: 68%;
        border-radius: 5px;
      }

      .drawer-handle-icon {
        display: none
      }
    }
  }
}