@import "responsive.scss";

.o-skill {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  min-height: 50px;

  border-bottom: 1px solid var(--color-element-darkest-blue);
  background: var(--color-background-darkest-brown);
  color: var(--color-element-beige);

  padding: 18px;

  &__header {
    display: flex;
    justify-content: space-between;
    width: 100%;

    &-content {
      display: flex;
    }

    &-title {
      margin-left: 18px;
      color: var(--color-element-light-beige);
    }

    &-name {
      font-size: var(--font-big);
      font-family: 'Philosopher';
      margin: 0 0 4px 0;
      display: inline-flex;
    }

    &-category {
      font-size: var(--font-normal);
      font-weight: normal;
      margin: 0;
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgba(51, 44, 29, 0.5);
    margin: 18px 10px 18px 50px;
    padding: 18px 0 0 0;

    &-main {
      width: 65%;
      margin-right: 60px;

      @include mediaUpToSmallTablet {
        width: 100%;
      }
    }

    @include mediaUpToSmallTablet {
      flex-direction: column;
    }
  }

  &__description {
    font-weight: normal;

    &-skill {
      &-amount {
        color: var(--color-element-light-beige);
        font-weight: bold;
      }

      &-skill {
        color: var(--color-element-yellow);
      }
    }
  }
}