@import "responsive.scss";

.o-enchant {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  min-height: 50px;

  border-bottom: 1px solid var(--color-element-darkest-blue);
  background: var(--color-background-darkest-brown);
  color: var(--color-element-beige);

  padding: 18px;

  &__header {
    display: flex;
    width: 100%;

    &-content {
      display: flex;
    }

    &-title {
      margin-left: 18px;
      color: var(--color-element-light-beige);
    }

    &-name {
      font-size: var(--font-big);
      font-family: 'Philosopher';
      margin: 0 0 4px 0;
      display: inline-flex;
    }

    &-category {
      font-size: var(--font-normal);
      font-weight: normal;
      margin: 0;
    }
  }
}