*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Nunito Sans', 'Helvetica', 'Ubuntu', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: var(--color-element-light-beige);
  background-image: url('../images/textures/body.png');
  background-color: var(--colorbackground-light-brown);
  background-repeat: repeat;
}

h1, ul, li {
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--color-element-light-orange);
}

a:hover {
  text-decoration: none;
  color: var(--color-element-orange);
}